@import'fonts.css';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-weight: 400;
    font-family: 'rubik';
}
/* body */
body{
    background: #f1f1f1;
}
/* bode end */

/* navbar */
.navbar{
    width: 100px;
    height: 100vh;
    background: #ffffff;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 0.2s;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}
.navbar__logo{
    padding: 0 5px;
}
.navbar__logo img{
    width: 60px;
}
.navbar__user img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}
.navbar:hover{
    width: 234px;
}
.navbar__list a{
    display: flex;
    align-items: center;
    width: 200px;
    fill: #939393;
    color: #939393;
    padding: 27.5px 15px;
}
.navbar__list svg{
    width: 40px;
    margin-right: 31px;
}
.navbar__list a:hover{
    fill: #2A86B1;
    color: #2A86B1;
}
/* navbar end */

/* header */
.header{
    width: 1110px;
    height: 500px;
    margin: 30px auto;
    background: #ffffff url(../images/bg.png) no-repeat center center /cover;
    border-radius: 15px;
    padding: 62px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.header h1{
    color: #464748;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    width: 332px;
}
.header p{
    color: #696868;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    width: 314px;
    margin: 25px 0;
    text-align: justify;
}
.read-more{
    min-width: 211px;
    background: #3FA5D5;
    padding: 7px;
    color: #ffffff;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    line-height: 19px;
}
.read-more:hover{
    background: #2A86B1;
}
/* header end */

/* cards */
.card{
    width: 1110px;
    min-height: 110px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.item{
    width: 255px;
    min-height: 338px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 24px 18px 19px;
    text-align: center;
}
.item h3{
    color: #2A86B1;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    min-height: 47px;
    display: flex;
    align-items: center;
}
.item img{
    width: 100px;
}
.item a:hover{
    background: #2A86B1;
}
.item a{
    width: 219px;
    height: 33px;
    background: #3FA5D5;
    border-radius: 30px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}
/* cards end */

/* content */
.content{
    width: 1110px;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    margin: 48px auto;
}
.content__left{
    width: 825px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}
.content__right{
    width: 255px;
    height: 94px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}
.content__left h4,
.content__right h4{
    color: #686868;
    font-size: 20px;
    line-height: 23px;
    font-weight: 700;
    margin-bottom: 7px;
}
.content__item{
    width: 825px;
    min-height: 120px;
    background: #ffffff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}
.content__item p{
    font-size: 16px;
    line-height: 19px;
    color: #545454;
    text-align: justify;
}
.content__box{
    width: 255px;
    height: 94px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 15px;
    border-radius: 8px;  
}
.card_text{
    margin-left: 15px;
}
.content__box img{
    width: 55px;
    border-radius: 50px;
}
.content__box h5{
    font-size: 17px;
    line-height: 16px;
    color: #323232;
    margin-bottom: 5px;
}
.content__box p{
    font-weight: 300px;
    font-size: 14px;
    line-height: 13px;
    color: #000000;
}
.content__right h4{
    font-size: 20px;
    line-height: 23px;
}
.content__box p{
    font-weight: 300;
    font-size: 14px;
    line-height: 13px;
    color: #000000;
}
/* content end */

/* footer */
.footer{
    width: 100%;
    height: 140px;
    background-color: #3FA5D5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__info{
    width: 1110px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.footer__info a{
    color: #ffffff;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
}
/* footer end */